html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(images/sunny.jpg), url(images/cloudy.jpg),
    url(images/rainy.jpg), url(images/snowy.jpg), url(images/foggy.jpg);
}

#content {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  min-height: 100%;
  transition: ease-in-out 1s;
}

#content.sunny {
  background-image: url(images/sunny.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}
#content.cloudy {
  background-image: url(images/cloudy.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}
#content.rainy {
  background-image: url(images/rainy.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}
#content.snowy {
  background-image: url(images/snowy.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

#content.foggy {
  background-image: url(images/foggy.jpg);
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 100%;
}
#formWrapper {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#location {
  border-radius: 10px;
  padding: 0 10px;
  font-size: 15px;
  width: clamp(150px, 50%, 200px);
  box-sizing: border-box;
}
#search {
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid;
  box-sizing: border-box;
}
#search:hover,
#systemUM:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#systemUM {
  width: 45px;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 600;
  color: white;
}
#systemUM.SI {
  background-color: blue;
  transition: 0.5s;
}
#systemUM.USC {
  background-color: red;
  transition: 0.5s;
}
#currentWeather {
  width: clamp(300px, 65%, 950px);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.hidden {
  display: none;
}

#currentLocation {
  text-align: center;
  margin: 0;
}
#condWrapper,
.condWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#condWrapper > div,
.condWrapper > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#condWrapper > div > img,
.condWrapper > div > img {
  height: 55px;
}
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  width: 250px;
  padding: 0px 20px;
  box-sizing: border-box;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  width: clamp(300px, 80%, 950px);
  color: white;
  font-weight: 600;
  padding-bottom: 10px;
  justify-content: center;
}
.day {
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}

.card.temp {
  align-items: center;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.7);
}

.github {
  height: 20px;
  transition: 0.5s;
}

.github:hover {
  transform: scale(1.2);
}
